.darkGreyBackground {
    background-color: #292929;
}

#headerParallaxContainer {
    min-height: 700px;
    height: 100vh;
    background-attachment: fixed;
    background-color: #292929;
}

#divAroundQuill {
    padding-top: 25vh;
}

#divAroundQuillEnd {
    padding-top: 25vh;
    color: #292929;
}

.divAroundResumeIcon {
    background-color: #FCC200;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #FCC200;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.divAroundResumeIcon:hover {
    box-shadow: 0 10px 24px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}

.resumeIcon {
    cursor: pointer;
    height: 42px;
}

.twitterIcon {
    height: auto;
    max-height: 42px;
    cursor: pointer;
}

#imageReadDiv {
    background-image: url("http://windupdurb.github.io/portfolio-site/Images/imageReadUse.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 700px;
    background-size: 100% 100%;
}

#dddDiv {
    background-image: url("http://windupdurb.github.io/portfolio-site/Images/thisBeerCompressed2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 700px;
    background-size: 100% 100%;
}

#jsmDiv {
    background-image: url("http://windupdurb.github.io/portfolio-site/Images/jsm.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 700px;
    background-size: 100% 100%;
}

#backgroundQuill {
    background-image: url("http://windupdurb.github.io/portfolio-site/Images/keyboard.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 260px;
    width: 300px;
    margin: 0 auto;
}

#backgroundQuillEnd {
    background-image: url("http://windupdurb.github.io/portfolio-site/Images/quill.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 260px;
    width: 300px;
    margin: 0 auto;
}

.nameFont {
    font-family: 'Yellowtail', cursive;
    font-size: 56px;
    color: #E0E0E0;
}


.moreInfoButton  {
    border: 1px solid #FCC200;
    padding: 5px;
    cursor: pointer;
    background-color: #FCC200;
    max-width: 40%;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.moreInfoButton:hover {
    box-shadow: 0 10px 24px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}

/*.moreInfoButton:hover {*/
    /*background-color: white;*/
    /*border: none;*/
    /*color: #292929;*/
/*}*/

#imageReadMoreInfo {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    height: 100vh;
    min-height: 750px;
    background-color: rgba(239,239,239,0.6);
    color: black;
}


#imageReadDiv:hover #imageReadMoreInfo {
    visibility: visible;
    opacity: 3;
}

#imageReadDiv:hover #imageReadInfo {
    visibility: hidden;
}

#imageReadInfo {
    position: absolute;
    width: 100%;
}



#jsmMoreInfo {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    height: 100vh;
    min-height: 725px;
    background-color: rgba(239,239,239,0.6);
    color: #292929;
}

#jsmDiv:hover #jsmMoreInfo {
    visibility: visible;
    opacity: 1;
}

#jsmDiv:hover #jsmInfo {
    visibility: hidden;
}

#jsmInfo {
    position: absolute;
    width: 100%;

}

#dddMoreInfo {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    height: 100vh;
    min-height: 725px;
    background-color: rgba(239,239,239,0.6);
    color: #292929;
}

#dddDiv:hover #dddMoreInfo {
    visibility: visible;
    opacity: 1;
}

#dddDiv:hover #dddInfo {
    visibility: hidden;
}

#dddInfo {
    position: absolute;
    width: 100%;

}

.myPhoto {
    width: 100px;
}

.headerFont {
    font-family: 'Dosis', sans-serif;
}

.mainColor {
    color: #FCC200;
}

.projectSelectText {
    font-size: 16px;
    cursor: pointer;
    color: #292929;
}


.projectSelectText:hover {
    color: #292929;
    text-decoration: none;
}

.projectSelectText:focus {
    color: #292929;
    text-decoration: none;
}


.linksToSections {
    color: #FCC200;
    font-size: 18px;
}

.linksToSections:hover {
    color: #FCC200;
    text-decoration: none;
}

.linksToSections:focus {
    color: #FCC200;
    text-decoration: none;
}

.linksToSectionsDark {
    color: #292929;
    font-size: 18px;
}

.linksToSectionsDark:hover {
    color: #292929;
    text-decoration: none;
}

.linksToSectionsDark:focus {
    color: #292929;
    text-decoration: none;
}


.secondaryColorBackground {
    background-color: #FCC200;
    color: #E0E0E0;
}

.divAroundSectionLinks {
    padding-top: 300px;
}

.divAroundSectionLinksProjectSection {
    padding-top: 260px;
}


.divAroundSectionTitle {
    padding-top: 275px;
}

.aboutSectionDivHalfLeft {
    height: 100vh;
    min-height: 700px;
}

.aboutSectionDivHalfRight {
    height: 100vh;
    min-height: 700px;
    color: #292929;
    overflow-y: scroll;
}

#aboutSection {
    height: 100vh;
    min-height: 700px;
}

.projectSectionDivHalfLeft {
    height: 100vh;
    min-height: 700px;
}

.projectSectionDivHalfRight {
    height: 100vh;
    min-height: 700px;
    padding-left: 0;
    color: white;
    overflow-y: scroll;
}

#projectSection {
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
}

#contactSection {
    height: 100vh;
    min-height: 725px;
}

.contactSectionDivHalfLeft {
    height: 100vh;
    min-height: 725px;
    background-color: #292929;
}

.contactSectionDivHalfRight {
    height: 100vh;
    min-height: 725px;
}

#lastSection {
    min-height: 700px;
    height: 100vh;
    background-color: #FCC200;
}

.pointer {
    cursor: pointer;
}

.cardEffect {
    background-color: white;
    margin-top: 1px;
    margin-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardEffect:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.projectDescriptionP {
    font-size: 18px;
    padding-top: 5vh;
}

.projectSuppText {
    font-size: 15px;
}

.projectTitle {
    font-size: 20px;
    font-weight: bold;
}

.contactName {
    font-size: 18px;
    font-weight: bold;
}

.contactInfoDiv {
    padding-left: 5vh;
    padding-right: 2vh;
}

.contactInfoTitle {
    font-size: 16px;
}

.contactInfoFindMeWriting {
    font-size: 17px;
}

.showOnSmaller {
    display: none;
}

.aboutFirstSentence {
    font-size: 18px;
    font-weight: bold;
}

.helloWorld {
    font-size: 16px;
    padding-top: 25px;
    font-weight: bold;
}

.aboutParagraph {
    font-size: 15px;
}

.aboutResponsibilities {
    font-size: 15px;
    font-weight: bold;
}

.aboutResponsibilitiesDetails {
    font-size: 15px;
}

.aboutInMyPursuits {
    font-size: 16px;
    padding-top: 30px;
    font-weight: bold;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

    #imageReadDiv {
        background-size: auto;
    }

    #jsmDiv {
        background-size: auto;
    }

    #dddDiv {
        background-size: auto;
    }

    .contactSectionDivHalfRight {
        height: 100vh;
        min-height: 100vh;
    }

    .contactSectionDivHalfLeft {
        height: 100vh;
        min-height: 100vh;
    }

    #contactSection {
        height: 100vh;
        min-height: 100vh;
    }

    #projectSection {
        height: 100vh;
        min-height: 100vh;
    }

    .projectSectionDivHalfLeft {
        height: 100vh;
        min-height: 100vh;
    }

    .projectSectionDivHalfRight {
        height: 100vh;
        min-height: 100vh;
    }

    #aboutSection {
        height: 100vh;
        min-height: 100vh;
    }

    .aboutSectionDivHalfLeft {
        height: 100vh;
        min-height: 100vh;
    }

    .aboutSectionDivHalfRight {
        height: 100vh;
        min-height: 100vh;
    }

    .divAroundSectionLinks {
        padding-top: 40vh;
    }

    .divAroundSectionLinksProjectSection {
        padding-top: 30vh;
    }

    .aboutInMyPursuits {
        font-size: 14px;
        padding-top: 20px;
        font-weight: bold;
    }

    .aboutLiSM {
        margin-left: -25px;
    }

    .aboutResponsibilities {
        font-size: 13px;
        font-weight: bold;
    }

    .aboutResponsibilitiesDetails {
        font-size: 13px;
    }

    .aboutParagraph {
        font-size: 13px;
    }

    .helloWorld {
        font-size: 14px;
    }

    .aboutFirstSentence {
        font-size: 15px;
    }

    .contactEmail {
        font-size: 12px;
    }

    .contactInfoFindMeWriting {
        font-size: 14px;
    }

    .contactName {
        font-size: 16px;
    }

    .contactInfoTitle {
        font-size: 13px;
    }

    .contactInfoDiv {
        padding-left: 5vh;
        padding-right: 4vh;
    }

    .projectTitle {
        font-size: 17px;
        font-weight: bold;
    }

    .projectDescriptionP {
        font-size: 15px;
        padding-top: 5vh;
    }

    .projectSuppText {
        font-size: 13px;
    }

    .moreInfoButton {
        max-width: 60%;
    }

    .hideOnSmaller {
        display: none;
    }

    .linksToSections {
        font-size: 11px;
    }

    .linksToSectionsDark {
        font-size: 11px;
    }

    .showOnSmaller {
        display: inline-block;
    }

    .twitterIcon {
        height: 25px;
    }

    .resumeIcon {
        height: 40px;
    }
}